.section_intro{
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-inline: clamp(1.5rem, 8vw, 10rem);
  z-index: 1; 
  background-color: var(--bg_primary);
}

.intro_content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.intro_title{
  font-size: clamp(2.8rem, 5vw, 4rem);
  font-weight: 700;
  font-family: var(--font-primary);
}

.intro_subtitle{
  font-size: clamp(2.4rem, 5vw, 3.2rem);
  font-weight: 600;
  font-family: var(--font-primary);
}

.text_intro {
  padding-top: 9rem;
  font-size: clamp(2.2rem, 3vw, 2.4rem);
  font-weight: 560;
  font-family: var(--font-primary);
}