.section_hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 8%;
  position: relative;

}

.hero_content {
  align-items: center;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 3;
}

.hero_Title {
  font-size: clamp(2.8rem, 5vw, 4rem);
  font-weight: 700;
  line-height: 1.1;
  font-family: var(--font-accent);
}

.hero_Title span {
  color: var(--accent_text);
}

.hero_Subtitle {
  font-size: clamp(2.4rem, 2vw, 1.4rem);
  font-weight: 600;
  font-family: var(--font-primary);
}

.hero_Subtitle span {
  color: transparent;
  -webkit-text-stroke: 1px var(--accent_text);
  
  animation: flicker 2.5s ease forwards;
  }

@keyframes flicker {
  0%{
    color: transparent;
  }
  12%{
    color: var(--accent_text);
    text-shadow: 0 0 8px rgba(255,255,255,0.6);
  }
  22%{
    color: transparent;
  }
  35%{
    color: var(--accent_text);
    text-shadow: 0 0 10px rgba(255,255,255,0.7);
  }
  45%{
    color: transparent;
  }
  55% {
    color: var(--accent_text);
    text-shadow: 0 0 10px rgba(255,255,255,0.8);
  }
  63%{
    color: transparent;
  }
  70%{
     color: var(--accent_text); 
  }
  76%{
    color: transparent;
  }
  82%{
    color: var(--accent_text);
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
  }
  87%{
    color: var(--accent_text);
  }
  92%{
    color: transparent;
  }
  100%{
    color: var(--accent_text);
    text-shadow: 0 0 10px rgba(255,255,255,0.6);
  }
}